/*@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Kite+One);
@import url(http://fonts.googleapis.com/css?family=Life+Savers);

 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .content-box {
        width: 100%;
    }

    .motto{
        display: none;
    }
*/
    /* stack columns instead of side-by-side */
 /*   .col {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 479px) {
    body {
        font-size: 16px;
    }
}*/